################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.pyproj
/py_balise_codec/py_balise_codec.vcxproj
/py_balise_codec/py_balise_codec.vcxproj.filters
/py_balise_codec/py_balise_codec.vcxproj.user
/py_balise_codec/x64
/ss36/x64
/ss36/ss36.vcxproj
/ss36/ss36.vcxproj.filters
/ss36/ss36.vcxproj.user
/ss36/~AutoRecover.ss39.vcxproj
/tester/x64
/tester/tester.vcxproj
/tester/tester.vcxproj.filters
/tester/tester.vcxproj.user
/testset/A15.csv
/testset/asdut_LAB.csv
/testset/asdut_operationeel.csv
/testset/david.csv
/testset/dummy_input2.csv
/testset/dummy_input_2.csv
/testset/err12.csv
/testset/Hfd_balise_content_THALES.csv
/testset/HSL.csv
/testset/hzl_lab.csv
/testset/testset_check.csv
/x64/Debug
/testset
/x64/Release/balise_codec.exp
/x64/Release/balise_codec.lib
/x64/Release/balise_codec.pdb
/x64/Release/tester.pdb
/ss36.sln
/.gitattributes
/ss36/~AutoRecover.ss36.vcxproj
/backup/ss36
/inputdocs/欧标应答器报文编码算法优化与实现_NormalPdf.pdf
/inputdocs/欧标应答器报文编码算法优化与实现_NormalPdf.zh-CN.en.pdf
